### 서울시 공원 시각화

In [2]:
import pandas as pd
import numpy as np
import folium, json

In [3]:
df = pd.read_csv('data/서울시 주요 공원현황.csv', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연번            132 non-null    int64
 1   공원명           132 non-null    object
 2   공원개요          131 non-null    object
 3   면적            129 non-null    object
 4   개원일           122 non-null    object
 5   주요시설          124 non-null    object
 6   주요식물          88 non-null     object
 7   안내도           102 non-null    object
 8   오시는길          115 non-null    object
 9   이용시참고사항       120 non-null    object
 10  이미지           132 non-null    object
 11  지역            131 non-null    object
 12  공원주소          132 non-null    object
 13  관리부서          132 non-null    object
 14  전화번호          132 non-null    object
 15  X좌표(GRS80TM)  122 non-null    float64
 16  Y좌표(GRS80TM)  122 non-null    float64
 17  X좌표(WGS84)    131 non-null    float64
 18  Y좌표(WGS84)    131 non-null    float64
 19  바로가기          18 non-null     object
dtypes: float64(4), int64(1), object(15)
memory usage: 20.8+ KB

In [4]:
df = df[['지역','면적','X좌표(WGS84)','Y좌표(WGS84)']]
df.columns = ['구별','면적','경도','위도']
df.head()

    구별                                            면적          경도         위도
0   중구  2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡  126.990377  37.550140
1  강동구                                        80683㎡  127.154779  37.540394
2  과천시                                     9132690m²  127.019846  37.426449
3  성동구                                       480994㎡  127.041798  37.543072
4  마포구                                      2284085㎡  126.878907  37.571805

In [5]:
df.dropna(subset=['면적','경도','구별'],inplace=True)
df.isna().sum().sum()

0

- 면적에 따라 공원크기를 지도에 표시

In [6]:
df.면적.head(30).tail(20)

10                                        5197.7㎡
11                                         11467㎡
12                                         229539㎡
13                                      15179.7 ㎡
14                                      16734.60㎥
15    61544㎡ 녹지대 : 40792㎡ 광 장 : 6600㎡ 기 타 : 14152㎡
16                                        424106㎡
17                                         560552㎡
18                                       26696.8㎥
19                                          75900㎡
20                                      113021.7m2
21                                        201779㎥
22                                      258991㎡
23                                    10420819.08㎡
24                                       171294.1㎥
25                                        총 15000㎡
26                                         297926㎡
27                                         411972㎡
28                                          98470㎡
29                                      2038741.3㎡
Name: 면적, dtype: object

In [7]:
df.면적[6]
df.drop([6],inplace=True)

In [8]:
df.면적 = df.면적.str.replace('총','')

In [9]:
import re
re.split('[,.]','a,b,c')

['a', 'b', 'c']

In [10]:
df.면적 = df.면적.apply(lambda x: re.split('[㎡m㎥]',x)[0])
df.면적.head()

0    2896887
1      80683
2    9132690
3     480994
4    2284085
Name: 면적, dtype: object

In [11]:
df.면적 = df.면적.astype(float).astype(int)

In [12]:
df.head()

    구별       면적          경도         위도
0   중구  2896887  126.990377  37.550140
1  강동구    80683  127.154779  37.540394
2  과천시  9132690  127.019846  37.426449
3  성동구   480994  127.041798  37.543072
4  마포구  2284085  126.878907  37.571805

In [13]:
df.to_csv('data/서울공원요약2.csv',index=False)

In [14]:
def get_text_location(geo_str):
    gu_dict = {}
    for gu in geo_str['features']:
        for coord in gu['geometry']['coordinates']:
            geo = np.array(coord)
            gu_dict[gu['id']] = [np.mean(geo[:,1]), np.mean(geo[:,0])]
    return gu_dict

In [15]:
gu_dict = get_text_location(geo_data)
gu_dict

NameError: name 'geo_data' is not defined

In [ ]:
file = 'data/seoul_geo_simple.json'
geo_data = json.load(open(file, encoding='utf-8'))

In [ ]:
map = folium.Map(location=[37.55,126.98], zoom_start=11, tiles='Stamen Toner')
folium.Choropleth(
    geo_data=geo_data,
    data=df.CCTV,        #단계구분도로 보여줄 데이터
    columns=[df.index,df.],      # 데이터 프레임에서 추출할 column
    fill_color='PuRd',       # Color map
    key_on='feature.id'
).add_to(map)
map

SyntaxError: invalid syntax (4176005010.py, line 5)