In [137]:
import pandas as pd
import numpy as np
import folium, json

In [138]:
df = pd.read_csv('data/전국도시공원정보표준데이터.csv', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17525 entries, 0 to 17524
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   관리번호          17525 non-null  object
 1   공원명           17525 non-null  object
 2   공원구분          17525 non-null  object
 3   소재지도로명주소      3692 non-null   object
 4   소재지지번주소       17335 non-null  object
 5   위도            17513 non-null  float64
 6   경도            17514 non-null  float64
 7   공원면적          17525 non-null  float64
 8   공원보유시설(운동시설)  4821 non-null   object
 9   공원보유시설(유희시설)  6200 non-null   object
 10  공원보유시설(편익시설)  4842 non-null   object
 11  공원보유시설(교양시설)  805 non-null    object
 12  공원보유시설(기타시설)  2577 non-null   object
 13  지정고시일         14451 non-null  object
 14  관리기관명         16033 non-null  object
 15  전화번호          16343 non-null  object
 16  데이터기준일자       17525 non-null  object
 17  제공기관코드        17525 non-null  object
 18  제공기관명         17525 non-null  object
dtypes: float64(3), object(16)
memory usage: 2.5+ MB

In [139]:
df = df[['공원명','소재지지번주소','공원면적']]

df

                  공원명                소재지지번주소      공원면적
0               녹색소공원    서울특별시 용산구 효창동 287-6    1569.9
1       푸름샘 소공원(소1-1)                    NaN    1820.0
2        솔숲 소공원(소1-2)                    NaN    1037.0
3      마디꽃 수변공원(수1-1)                    NaN    4928.0
4        꽃 수변공원(수2-3)                    NaN    3575.0
...               ...                    ...       ...
17520              방배  서울특별시 서초구 방배동 686-201  210517.2
17521            말죽거리      서울특별시 서초구 서초동 산28  280822.6
17522             서리풀    서울특별시 서초구 방배동 산23-1  465938.3
17523              방배   서울특별시 서초구 방배동 산 43-7   74847.6
17524            말죽거리   서울특별시 서초구 양재동 산57-34  132020.3

[17525 rows x 3 columns]

In [140]:
df = df.dropna()

In [141]:
df.isna().sum()

공원명        0
소재지지번주소    0
공원면적       0
dtype: int64

In [142]:
df = df[df.소재지지번주소.str.contains('경기도')]

In [143]:
# df =  df[df.소재지지번주소.str.contains('시군') | df.소재지지번주소.str.contains('구')]

In [ ]:
'가평군','고양시','과천시','광명시','광주시','구리시','군포시','김포시','남양주시','동두천시','수원시'

In [171]:
df = df[df.소재지지번주소.str.contains('가평군','고양시','과천시','광명시','광주시','구리시','군포시','김포시','남양주시','동두천시','수원시')]

AttributeError: 'DataFrame' object has no attribute '소재지지번주소'

In [167]:
df.시군구.iloc[:2]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1766468973.py, line 1)

In [145]:
df.rename(columns={'소재지지번주소' : '시군구'}, inplace=True)

In [146]:
df

                   공원명                    시군구      공원면적
212              꿈나무공원         경기도 이천시 중리동 15    2526.0
213               남천공원        경기도 이천시 중리동 210    3830.0
214               향교공원        경기도 이천시 창전동 408    1757.0
215              개나리공원     경기도 이천시 창전동 414-13    1650.0
216              달맞이공원        경기도 이천시 창전동 423    1650.0
...                ...                    ...       ...
17025  제90호 어린이공원(풀향기)    경기도 용인시 기흥구 중동 1083    1500.0
17258             청석공원        경기도 광주시 경안동 242  193530.0
17259           경안근린공원      경기도 광주시 경안동 168-1   83095.0
17260          삼리어린이공원  경기도 광주시 곤지암읍 삼리 131-1    1493.0
17261           중대물빛공원      경기도 광주시 중대동 246-2  230932.0

[4430 rows x 3 columns]

In [147]:
df.pivot_table('공원면적','시군구',aggfunc=['sum'])

                             sum
                            공원면적
시군구
경기도 가평군 가평읍 달전리 705       1763.7
경기도 가평군 가평읍 대곡리 144-14    1783.0
경기도 가평군 가평읍 대곡리 243-16    3000.0
경기도 가평군 가평읍 대곡리 347     108512.0
경기도 가평군 가평읍 읍내리 1054       589.5
...                          ...
경기도 화성시 향남읍 행정리 490      46749.0
경기도 화성시 향남읍 행정리 495-14    1789.0
경기도 화성시 향남읍 행정리 517       1671.0
경기도 화성시 향남읍 행정리 525      43238.0
경기도 화성시 황계동 152-116        540.0

[4369 rows x 1 columns]

In [148]:
df2 = pd.read_csv('data/경기도_주민등록인구집계현황.csv', encoding='euc-kr')
df2.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0

In [149]:
df2 = df2[['행정구역구분명','행정구역명','총 인구수']]

In [150]:
df2

    행정구역구분명          행정구역명     총 인구수
0         도          경기도    13589432
1        시군       경기도 가평군      62197
2       읍면동    경기도 가평군 가평읍     19555
3       읍면동     경기도 가평군 북면      3815
4       읍면동     경기도 가평군 상면      5669
..      ...            ...       ...
615     읍면동    경기도 화성시 팔탄면     10056
616     읍면동    경기도 화성시 향남읍     87298
617     읍면동    경기도 화성시 화산동     23784
618     읍면동  경기도 화성시동부출장소          0
619     읍면동  경기도 화성시동탄출장소          0

[620 rows x 3 columns]

In [151]:
df2 =  df2[df2.행정구역구분명.str.contains('시군') | df2.행정구역구분명.str.contains('구')]

In [152]:
gu_city = ['수원시', '고양시', '용인시', '성남시', '안산시', '안양시']
df2.행정구역명 = df2.행정구역명.str.strip()
drop_index = []
for index in df2[df2.행정구역구분명 == '시군'].index:
    if df2.행정구역명[index].split()[-1] in gu_city:
        drop_index.append(index)
drop_index

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_12024\1695582089.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.행정구역명 = df2.행정구역명.str.strip()

[8, 176, 231, 300, 344, 435]

In [153]:
df2.rename(columns={'행정구역구분명' : '시군구'}, inplace=True)

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_12024\2801388834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'행정구역구분명' : '시군구'}, inplace=True)

In [154]:
df2

    시군구         행정구역명    총 인구수
1    시군       경기도 가평군    62197
8    시군       경기도 고양시  1075202
9     구   경기도 고양시 덕양구   487874
31    구  경기도 고양시 일산동구   296590
44    구  경기도 고양시 일산서구   290738
56   시군       경기도 과천시    77775
63   시군       경기도 광명시   288182
83   시군       경기도 광주시   391704
100  시군       경기도 구리시   188876
109  시군       경기도 군포시   266531
122  시군       경기도 김포시   484194
137  시군      경기도 남양주시   737366
156  시군      경기도 동두천시    91735
165  시군       경기도 부천시   791263
176  시군       경기도 성남시   920362
177   구   경기도 성남시 분당구   482026
200   구   경기도 성남시 수정구   232125
218   구   경기도 성남시 중원구   206211
231  시군       경기도 수원시  1190964
232   구   경기도 수원시 권선구   313834
245   구   경기도 수원시 영통구   495315
258   구   경기도 수원시 장안구   270524
269   구   경기도 수원시 팔달구   188701
280  시군       경기도 시흥시   512438
300  시군       경기도 안산시   643044
301   구   경기도 안산시 단원구   297509
314   구   경기도 안산시 상록구   345535
328  시군       경기도 안성시   189146
344  시군       경기도 안양시   548398
345   구   경기도 안양시 동안구   314102
363   구   경기도 안양시 만안구   234296
379  시군       경기도 양주시   241346
391  시군       경기도 양평군   122463
404  시군       경기도 여주시   113096
417  시군       경기도 연천군    42153
428  시군       경기도 오산시   229833
435  시군       경기도 용인시  1075570
436   구   경기도 용인시 기흥구   438500
452   구   경기도 용인시 수지구   377198
464   구   경기도 용인시 처인구   259872
477  시군       경기도 의왕시   160464
484  시군      경기도 의정부시   463789
499  시군       경기도 이천시   223151
514  시군       경기도 파주시   494970
532  시군       경기도 평택시   577335
558  시군       경기도 포천시   147019
574  시군       경기도 하남시   325310
589  시군       경기도 화성시   907958