In [120]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm

https://www.hanbit.co.kr/academy/books/book_view.html?p_code=B7192437175

In [121]:
url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page=1&cate_cd=&srt=&searchKey=&keyWord='
result = requests.get(url)

In [122]:
soup = BeautifulSoup(result.text,'html.parser')

In [123]:
lis = soup.select_one('.new_book_list_wrap').find_all('li')
len(lis)

20

In [124]:
li = lis[0]

In [125]:
li.select('.book_tit >a')

In [126]:
title = li.select_one('.book_tit').get_text()
title

'처음 배우는 매트랩'

In [127]:
writer = li.select_one('.info>.book_writer').get_text()
writer

'방성완 '

In [128]:
price = li.select_one('.img_hidden_a > .price').get_text()
price

'30,000원'

In [141]:
line = []
base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page=1&cate_cd=&srt=&searchKey=&keyWord='
for page in tqdm(range(1,24)):
    url = f'{base_url}&pg={page}'
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    for li in lis:
        title = li.select_one('.book_tit').get_text()
        writer = li.select_one('.info>.book_writer').get_text()
        price = li.select_one('.img_hidden_a > .price').get_text()
        line.append({'title':title, 'writer':writer,'price':price})

100%|██████████| 23/23 [00:03<00:00,  7.18it/s]

In [142]:
df = pd.DataFrame(line)
df.tail()

,title,writer,price
455,"IT CookBook, 쉽게 배우는 운영체제(2판)",조성호,"32,000원"
456,"IT CookBook, Android Studio를 활용한 안드로이드 프로그래밍(8판)","우재남 , 박길식","34,000원"
457,"STEM CookBook, 전기 및 하이브리드 자동차(3판)",Iqbal Husain,"35,000원"
458,"IT CookBook, 컴퓨터 비전과 딥러닝",오일석,"39,000원"
459,리더십 : 이론과 실제 (9판),Peter G. Northouse,"36,000원"

In [143]:
df.to_csv(f'data/한빛.csv',index=False)