### 1. Series

In [1]:
import pandas as pd

-Series 생성
    - numpy 1차원 어레이 +index

In [8]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index = ["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [9]:
type(s)

pandas.core.series.Series

In [10]:
pd.Series(np.Series(np.arange(10,15)))

NameError: name 'np' is not defined

In [11]:
s.index, type(s.index)

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 pandas.core.indexes.base.Index)

In [12]:
s.values, type(s.values)

(array([9904312, 3448737, 2890451, 2466052], dtype=int64), numpy.ndarray)

In [17]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

연산(Operation)

In [22]:
s / 10000000

도시
서울    0.990431
부산    0.344874
인천    0.289045
대구    0.246605
Name: 인구, dtype: float64

In [23]:
s['대구'],s[3],s[-1]

(2466052, 2466052, 2466052)

In [25]:
s[['서울','부산']]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [26]:
s[(s > 2500000) & (s < 5000000)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

- 슬라이싱

In [28]:
# 숫자 인덱스로 하는 슬라이싱은 넘파이와 동일함
s[:2]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [29]:
# 인덱스로 할경우에는 :뒤 인덱스를 포함함
s['서울':'인천']

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64

- series and dictionary

In [32]:
'서울' in s

True

In [33]:
for k, v in s.items():
    print(f'{k}:{v}')

서울:9904312
부산:3448737
인천:2890451
대구:2466052

In [34]:
d= {"서울": 9631482,"부산": 3393191,"인천": 2632035,"대전": 1490158}
s2 = pd.Series(d)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [36]:
# 순서를 정하고 싶으면, 인덱스를 별도로 설정해야 함
s2 = pd.Series(d, index=['서울','부산','인천','대전'])
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

- 인덱스 기반 연산

In [37]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [38]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [40]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [41]:
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

- 데이터의 갱신, 추가, 삭제

In [54]:
rs['부산'] = 1.64
rs[1] = 2.83
rs.인천 = 9.82
rs

부산    1.64
서울    2.83
인천    9.82
dtype: float64

In [58]:
del rs['인천']

KeyError: '인천'