### 8. 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [3]:
date_str = ['2023-4-17']            #기본 포멧
idx= pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [7]:
date_str = ['2023-04-17','2023-04-18','2023-04-19','2023-04-20','2023-04-21']
idx=pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [10]:
df = pd.DataFrame(np.random.randint(60,100,5),
                  columns=['score'],index=idx)
df

            score
2023-04-17     69
2023-04-18     73
2023-04-19     82
2023-04-20     70
2023-04-21     79

In [13]:
pd.date_range('2023.4.1','2023.4.30')    # 시작일부터 종료일자

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [15]:
pd.date_range('4/1/23',periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range('040123',periods=30, freq='B')    # week day(평일)

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10',
               '2023-05-11', '2023-05-12'],
              dtype='datetime64[ns]', freq='B')

In [20]:
# 1년중 각 월에 시작일'
pd.date_range('2023-1-1', '2023-12-31', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [22]:
ts = pd.DataFrame(np.random.randint(100,1000,100),
                            index = pd.date_range('20230101',periods=100))
ts.head()

              0
2023-01-01  379
2023-01-02  888
2023-01-03  845
2023-01-04  346
2023-01-05  194

In [24]:
ts.resample('M').first()

              0
2023-01-31  379
2023-02-28  487
2023-03-31  461
2023-04-30  594

In [25]:
ts.resample('W').first()    # 매주 일요일

              0
2023-01-01  379
2023-01-08  888
2023-01-15  643
2023-01-22  957
2023-01-29  377
2023-02-05  594
2023-02-12  949
2023-02-19  320
2023-02-26  884
2023-03-05  618
2023-03-12  627
2023-03-19  670
2023-03-26  512
2023-04-02  690
2023-04-09  463
2023-04-16  299

- 인구 소멸 위기 지역 Top 10

In [28]:
# 데이터 읽기
dis_pop = pd.read_csv('data/주민등록인구집계현황.csv', encoding='euc-kr')
dis_pop

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,2022,12,읍면동,경기도 화성시 팔탄면,10056,273,438,964,984,1395,...,216,296,311,448,770,897,427,359,67,1
616,2022,12,읍면동,경기도 화성시 향남읍,87298,9328,10734,10096,14284,18254,...,5230,4462,6288,8064,5293,3629,1735,1026,173,0
617,2022,12,읍면동,경기도 화성시 화산동,23784,1472,2154,3275,2963,3949,...,1012,1408,1285,1768,2072,1676,788,398,73,0
618,2022,12,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
619,2022,12,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# 결측치 확인
dis_pop.isna().sum().sum()

0

In [37]:
dis_pop.shape

(620, 41)

In [50]:
# 가임기 여성 인구수, 60세 이상 노령인구
dis_pop['가임기 여성 인구수'] = dis_pop['10~19세 (여)'] + dis_pop['20~29세 (여)']
dis_pop['60세 이상 노령인구'] = dis_pop.loc[:, '60~69세':'100세 이상'].sum(axis=1).head()

In [55]:
dis_pop['인구소멸 위기'] = dis_pop['가임기 여성 인구수'] / dis_pop['60세 이상 노령인구']

In [56]:
dis_pop['인구소멸 위기']

0      0.485732
1      0.187718
2      0.246656
3      0.087464
4      0.094198
         ...
615         NaN
616         NaN
617         NaN
618         NaN
619         NaN
Name: 인구소멸 위기, Length: 620, dtype: float64