In [83]:
import numpy as np
import pandas as pd
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr',thousands=',')
columns = '구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
            #구분 -> 구별 / 총계 -> CCTV댓수
cctv = cctv[columns]
cctv.head()

,구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [84]:
# 첫번째 행 계 삭제
cctv.drop([0], axis=0, inplace=True)
cctv.head()

,구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [85]:
# 최근증가율 = 최근 3개년 cctv댓수의 합 / 이전 모든 년도의 CCTV 댓수
rec1 = cctv['2020년,2021년,2022년'.split(',')]
rec2 = cctv['2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년'.split(',')]
rec1['3개년 합'] = rec1.sum(axis=1)
rec2['그 이전 모든 년도의 합'] = rec2.sum(axis=1)
# rec1['3개년 합'] = (cctv['2020년'] + cctv['2021년'] + cctv['2022년'])

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_10848\3487578049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec1['3개년 합'] = rec1.sum(axis=1)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_10848\3487578049.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec2['그 이전 모든 년도의 합'] = rec2.sum(axis=1)

In [95]:
cctv['최근증가율'] = (rec1['3개년 합'] / rec2['그 이전 모든 년도의 합']).round(2) *100

In [96]:
cctv[['CCTV댓수','최근증가율',]]

    CCTV댓수  최근증가율
1     1980   46.0
2     2584   54.0
3     2847   94.0
4     4047   37.0
5     3480   47.0
6     2759   34.0
7     4193   74.0
8     4842   26.0
9     3321  100.0
10    2247  156.0
11    2617   41.0
12    4653   38.0
13    3445   59.0
14    2628   29.0
15    3851   36.0
16    3265   71.0
17    4693   51.0
18    2636   61.0
19    4553   82.0
20    2671   44.0
21    5398   26.0
22    4995   60.0
23    7243   36.0
24    3203   29.0
25    3190   75.0

pandas.core.frame.DataFrame

### 2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.

  구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율

1 종로구 153789 144683  9106    27818   5.92           18.09

2 중구    131787 122499  9288    24392   7.05           18.51

3 용산구 237285 222953  14332   39070   6.04           16.47

In [167]:
df = pd.read_csv('data/서울시인구.txt', sep='\t', encoding='utf-8',thousands=',')
df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"

In [160]:
# 불필요한 행열 삭제
df.drop([1], axis=0, inplace=True)
df.drop([2], axis=0, inplace=True)
df.drop(['기간'], axis=1, inplace=True)
df.drop(['세대'], axis=1, inplace=True)
df.head()

,자치구,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,자치구,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
3,종로구,"153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,중구,"131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"
5,용산구,"237,285","115,085","122,200","222,953","107,210","115,743","14,332","7,875","6,457",2.01,"39,070"
6,성동구,"292,672","142,259","150,413","285,990","139,380","146,610","6,682","2,879","3,803",2.13,"46,380"

In [154]:
# 외국인 비율 열 추가
df['외국인 비율'] = (df['인구.6'] / df['인구']) * 100
df['고령자비율'] = (df['65세이상고령자'] / df['인구']) * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

0      등록외국인
1          계
3      9,106
4      9,288
5     14,332
6      6,682
7     12,631
8     14,606
9      4,535
10     9,614
11     3,381
12     2,007
13     3,990
14     3,866
15    10,840
16     9,781
17     3,185
18     5,453
19    24,409
20    14,080
21    24,071
22     8,881
23    13,750
24     3,888
25     4,758
26     5,627
27     3,808
Name: 인구.6, dtype: object