In [107]:
import numpy as np
import pandas as pd
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr',thousands=',')
columns = '구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
            #구분 -> 구별 / 총계 -> CCTV댓수
cctv = cctv[columns]
cctv.head()

,구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [108]:
# 첫번째 행 계 삭제
cctv.drop([0], axis=0, inplace=True)
cctv.head()

,구별,CCTV댓수,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [109]:
# 최근증가율 = 최근 3개년 cctv댓수의 합 / 이전 모든 년도의 CCTV 댓수
rec1 = cctv['2020년,2021년,2022년'.split(',')]
rec2 = cctv['2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년'.split(',')]
rec1['3개년 합'] = rec1.sum(axis=1)
rec2['그 이전 모든 년도의 합'] = rec2.sum(axis=1)
# rec1['3개년 합'] = (cctv['2020년'] + cctv['2021년'] + cctv['2022년'])

<ipython-input-109-78504114e1fd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec1['3개년 합'] = rec1.sum(axis=1)
<ipython-input-109-78504114e1fd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec2['그 이전 모든 년도의 합'] = rec2.sum(axis=1)

In [110]:
cctv['최근증가율'] = (rec1['3개년 합'] / rec2['그 이전 모든 년도의 합']).round(2) *100

In [111]:
cctv[['CCTV댓수','최근증가율',]]

    CCTV댓수  최근증가율
1     1980   46.0
2     2584   54.0
3     2847   94.0
4     4047   37.0
5     3480   47.0
6     2759   34.0
7     4193   74.0
8     4842   26.0
9     3321  100.0
10    2247  156.0
11    2617   41.0
12    4653   38.0
13    3445   59.0
14    2628   29.0
15    3851   36.0
16    3265   71.0
17    4693   51.0
18    2636   61.0
19    4553   82.0
20    2671   44.0
21    5398   26.0
22    4995   60.0
23    7243   36.0
24    3203   29.0
25    3190   75.0

### 2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.

  구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율

1 종로구 153789 144683  9106    27818   5.92           18.09

2 중구    131787 122499  9288    24392   7.05           18.51

3 용산구 237285 222953  14332   39070   6.04           16.47

In [112]:
df = pd.read_csv('data/서울시인구.txt', sep='\t', encoding='utf-8',thousands=',')
df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"

In [113]:
# 불필요한 행열 삭제  기간	세대인구.1	인구.2 인구.4	인구.5 인구.7	인구.8	세대당인구
df.drop([1], axis=0, inplace=True)
df.drop([2], axis=0, inplace=True)
df.drop(['기간','세대','인구.1', '인구.2', '인구.4', '인구.5', '인구.7', '인구.8', '세대당인구'], axis=1, inplace=True)
df.head()

   자치구       인구     인구.3    인구.6  65세이상고령자
0  자치구       합계      한국인   등록외국인  65세이상고령자
3  종로구  153,789  144,683   9,106    27,818
4   중구  131,787  122,499   9,288    24,392
5  용산구  237,285  222,953  14,332    39,070
6  성동구  292,672  285,990   6,682    46,380

In [114]:
# 자치구 -> 구별 / 인구 ->인구수 / 인구.3 -> 내국인 / 인구.6-> 외국인/ 65세이상 고령자 -> 고령자 / 외국인비율 -> 외국인 //인구수 *100  / 고령자 비율 -> 고령자 // 인구수 *100
df.columns = '구별', '인구수', '내국인', '외국인', '고령자'
df.head()

    구별      인구수      내국인     외국인       고령자
0  자치구       합계      한국인   등록외국인  65세이상고령자
3  종로구  153,789  144,683   9,106    27,818
4   중구  131,787  122,499   9,288    24,392
5  용산구  237,285  222,953  14,332    39,070
6  성동구  292,672  285,990   6,682    46,380

In [115]:
# 0	자치구	합계	한국인	등록외국인	65세이상고령자 삭제
df.drop([0], axis=0, inplace=True)
df.head()

    구별      인구수      내국인     외국인     고령자
3  종로구  153,789  144,683   9,106  27,818
4   중구  131,787  122,499   9,288  24,392
5  용산구  237,285  222,953  14,332  39,070
6  성동구  292,672  285,990   6,682  46,380
7  광진구  352,627  339,996  12,631  51,723

In [116]:
# str -> int로 변경
df['인구수'] = df['인구수'].str.replace(',','').astype(int)
df['내국인'] = df['내국인'].str.replace(',','').astype(int)
df['외국인'] = df['외국인'].str.replace(',','').astype(int)
df['고령자'] = df['고령자'].str.replace(',','').astype(int)

In [117]:
# 외국인비율 -> 외국인 //인구수 *100  / 고령자 비율 -> 고령자 // 인구수 *100 추가\
df['외국인 비율'] =   ((df['외국인'] / df['인구수']) * 100).round(2)
df['고령자 비율'] =   ((df['고령자'] / df['인구수']) * 100).round(2)
df.index = df.index -2

In [118]:
pop = df
pop

      구별     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
1    종로구  153789  144683   9106  27818    5.92   18.09
2     중구  131787  122499   9288  24392    7.05   18.51
3    용산구  237285  222953  14332  39070    6.04   16.47
4    성동구  292672  285990   6682  46380    2.28   15.85
5    광진구  352627  339996  12631  51723    3.58   14.67
6   동대문구  352006  337400  14606  62211    4.15   17.67
7    중랑구  391885  387350   4535  71682    1.16   18.29
8    성북구  440142  430528   9614  74709    2.18   16.97
9    강북구  302563  299182   3381  64333    1.12   21.26
10   도봉구  319373  317366   2007  64160    0.63   20.09
11   노원구  514946  510956   3990  88345    0.77   17.16
12   은평구  477173  473307   3866  87241    0.81   18.28
13  서대문구  315659  304819  10840  54268    3.43   17.19
14   마포구  378686  368905   9781  54582    2.58   14.41
15   양천구  450487  447302   3185  68627    0.71   15.23
16   강서구  579768  574315   5453  92558    0.94   15.96
17   구로구  421163  396754  24409  72611    5.80   17.24
18   금천구  244891  230811  14080  41041    5.75   16.76
19  영등포구  400908  376837  24071  62516    6.00   15.59
20   동작구  394364  385483   8881  66613    2.25   16.89
21   관악구  499449  485699  13750  79871    2.75   15.99
22   서초구  416167  412279   3888  60678    0.93   14.58
23   강남구  537800  533042   4758  78226    0.88   14.55
24   송파구  663965  658338   5627  97691    0.85   14.71
25   강동구  466472  462664   3808  74070    0.82   15.88

In [119]:
pop.to_csv("pop.csv", index = False)