### YouTube Ranking

In [1]:
import time
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

- Step 1, 2

In [2]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=' + '1'
driver = webdriver.Chrome('C:/Users/YONSAI/Downloads/chromedriver.exe')
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup.select('.aos-init')
len(trs)

100

- Step 3

In [4]:
tr = trs[0]
rank = tr.select_one('.rank').get_text().strip()
rank

'1'

In [5]:
category = tr.select_one('.category').get_text().strip()[1:-1]
category

'음악/댄스/가수'

In [6]:
channel = tr.select_one('.subject > h1 > a').get_text().strip()
channel

'BLACKPINK'

In [7]:
subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
subscriber

'8820만'

In [8]:
view = tr.select_one('.view_cnt').get_text().strip()
video = tr.select_one('.video_cnt').get_text().strip()
view, video

('310억4076만', '515개')

In [9]:
# 숫자로 바꿔주는 함수
def convert(s):
    s = s.replace('억','').replace('개','').replace(',','').replace('만','0000')
    return int(s)

In [10]:
convert('335억8260만')

33582600000

- Step 4

In [11]:
lines = []
for tr in trs:
    rank = int(tr.select_one('.rank').get_text().strip())
    category = tr.select_one('.category').get_text().strip()[1:-1]
    channel = tr.select_one('.subject > h1 > a').get_text().strip()
    subscriber = convert(tr.select_one('.subscriber_cnt').get_text().strip())
    view = convert(tr.select_one('.view_cnt').get_text().strip())
    video = convert(tr.select_one('.video_cnt').get_text().strip())
    lines.append({
        '순위':rank, '카테고리':category, '채널명':channel,
        '구독자수':subscriber, '조회수':view, '비디오수':video
    })

In [12]:
df1 = pd.DataFrame(lines)
df1.tail(7)

     순위       카테고리                 채널명     구독자수         조회수   비디오수
93   93   음악/댄스/가수          ASTRO 아스트로  5140000   640560000    646
94   95      TV/방송            MBCdrama  4940000  5782430000  60185
95   96     키즈/어린이         뽀로로(Pororo)  4910000  6884410000   4185
96   97  음식/요리/레시피                 떵개떵  4890000  2991570000   4927
97   98     키즈/어린이          ToyMart TV  4860000  1994250000    697
98   99    애완/반려동물     SBS TV동물농장x애니멀봐  4840000  4656980000   4209
99  101        미분류  매일맛나 delicious day  4790000   489970000    329

- 두번째 페이지

In [13]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=' + str(2)
driver.get(url)
time.sleep(2)
soup = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup.select('.aos-init')
len(trs)

100

In [14]:
driver.close()

- Step 6

In [15]:
lines = []
driver = webdriver.Chrome('C:/Users/YONSAI/Downloads/chromedriver.exe')
for page in range(1, 11):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=' + str(page)
    driver.get(url)
    time.sleep(2)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('.aos-init')

    for tr in trs:
        rank = int(tr.select_one('.rank').get_text().strip())
        category = tr.select_one('.category').get_text().strip()[1:-1]
        channel = tr.select_one('.subject > h1 > a').get_text().strip()
        subscriber = convert(tr.select_one('.subscriber_cnt').get_text().strip())
        view = convert(tr.select_one('.view_cnt').get_text().strip())
        video = convert(tr.select_one('.video_cnt').get_text().strip())
        lines.append({
            '순위':rank, '카테고리':category, '채널명':channel,
            '구독자수':subscriber, '조회수':view, '비디오수':video
        })

driver.close()

- Step 7

In [16]:
df = pd.DataFrame(lines)
df.shape

(1000, 6)

In [17]:
df.tail()

       순위   카테고리              채널명    구독자수         조회수   비디오수
995   997    미분류        푸먹_foomuk  730000   385590000     58
996   996    미분류      김지윤의 지식Play  730000    59390000    187
997  1002    미분류            성창경TV  730000  1039150000  16398
998  1001  TV/방송  KBS여행 걸어서 세계속으로  730000   275970000  10964
999  1000    미분류           빨간내복야코  730000   508340000    246

In [18]:
df.to_csv('static/YouTube랭킹.csv', index=False)